.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: rgb(0, 255, 234);
}

.messages {
  padding: 10px;
}

.message {

}