.header {
  grid-area: h;
  background-color: aquamarine;
}

.header img {
  margin: 5px;
  width: 6%;
  height: 80%;
  border: 1px solid rgb(207, 142, 20);
  border-radius: 10px;
}

.loginBlock {
  float: right;
}