.content {
  height: 100vh;
  grid-area: c;
  background-color: rgb(83, 161, 250);
}

.pictureContent img {
  width: 100%;
  height: 230px;
}

 img {
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}